[submodule "lib/pico-littlefs"]
	path = lib/pico-littlefs
	url = https://github.com/lurk101/pico-littlefs
[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/lurk101/littlefs-lib
